:root {
    --primary-color: #3E5B85;
    --light-primary: #B8CBDF;
    --green: #51C12D;

}

body{
	font-family: 'Roboto', sans-serif; 
}

.topbar{
    padding: 20px 10px;
}

.topbar img {
    height: 47px;
}

.header{
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-bottom: 155px;
    background-size: cover;
}

h1{
    font-weight: 700;
    font-size: 32px;
    color: white;
}

h2.subtitle{
    font-size: 24px;
    color: var(--light-primary);
}

h3, h4{
    font-weight: 700;
    color: #3E5B85; 
    font-size: 24px;
}

h4{
    text-transform: uppercase;
}

.header ul{
    width: 700px;
    margin: auto;
    font-size: 18px;
}

.btn{
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.link{
    font-weight: 700;
    font-size: 20px;
    max-width: 450px;
    width: 90%;
    height: 60px;
    border-radius: 8px;
    line-height: 60px;
}

.lesson-section {
    margin-top: -50px;
}

.graphic {
    width: 80%;
    display: block;
}

.countdown{
    background: #EFF3F6;
    padding: 20px 10px;
}

.featured {
    padding: 30px 10px;
}

.testimonial, .about{
    padding: 50px 10px 0;
}

.testimonial{
    background-image: url(../images/bg-box-left.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.about{
    background-image: url(../images/bg-box-right.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.testimonial .card{
    border: none;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(59,73,93,0.10);
    border-radius: 8px;
}

.testimonial .card img{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.fred{
    background-image: url(../images/fred.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 370px;
}

.footer{
    background-image: linear-gradient(-90deg, #052748 0%, #132C40 47%, #07171D 100%);
    padding: 30px 10px;
}

.footer, .footer a{
    font-size: 14px;
    color:#FFF; 
}

.mobile{
    display: none;
}

/* .cta-link {
    color: white;
    animation: pulse 1s infinite;
    text-decoration: underline;
}
  
@keyframes pulse {
  0% {
    color: white;
  }
  50% {
    color: rgb(220, 226, 233);
  }
  100% {
    color: white;
  }
} */

@media only screen and (max-width: 1199px){
.dark-bg .container {width: 1300px;}
}

@media only screen and (max-width:991px) {
    h1{font-size: 28px;}
    h2.subtitle{font-size: 20px;}
    h3{font-size: 18px;}
    h4{font-size: 22px;}
    .countdown .pt-3{padding-top: 10px!important;}
    .dark-bg img{margin-right: 30px;}
    .fred{height: 450px;}
}

@media only screen and (max-width:767px) {
    h2.mb-5{margin-bottom: 20px!important;}
    .header ul{width: 100%;}
    .dark-bg img{margin-right: 0;}
    h3{text-align: center;font-size: 22px;}
    .countdown .pt-3{padding-bottom: 10px;}
    .about{padding-top: 20px;}
    .about h4{text-align: center;}
    .fred{height: 250px;}
    .btn{padding: 15px 80px;}
}

@media only screen and (max-width: 575px){
    .dark-bg .container {width: 100%;}
    .testimonial .flex-sm-row{flex-direction: row;}
    .testimonial .card-body{font-size: 14px;}
    h1{font-size: 22px;}
    h2.subtitle{font-size: 18px;}
    h3, h4{font-size: 18px;}
    body{font-size: 16px;}
    .header ul img{width: 30px;}
    h4.mb-5{margin-bottom: 20px!important;}
    .btn{font-size: 18px;padding: 10px 30px;}
}

@media only screen and (max-width: 425px){
    .mobile, img.mobile{display: block!important;}
    .topbar.mb-5{margin-bottom: 20px!important;}
    div.mt-5{margin-top: 20px!important;}
    div.my-4{margin-bottom: 10px!important;margin-top:10px!important;}
    .testimonial img{display: none;}
    .testimonial .card-body{display: block!important;}
    .testimonial .card-body small{display: flex;}
    .testimonial .card-body .text-dark{margin-top: 20px;}
    img.mobile{float: left;}
    .dark-bg .container {width: 90%;}
    .logo{width: 100px;}
    .topbar{padding: 10px;}
    .header ul{ font-size: 16px;}
}